html, body {
    background-color: #999;
    margin: 0;
    padding: 0;
}

#container {
    background-color: #ccc;
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
    font-family: Futura, sans-serif;
    margin: 0 auto;
    overflow: hidden;
    padding: 1em 2em;
    width: 600px;
}

h1, h2, h3, h4, h5 {
    color: hsla(0, 0%, 0%, 0.8);
    text-shadow: 1px 1px hsla(0, 0%, 100%, 0.6);
}

pre {
    background-color: #fff;
    overflow: auto;
} 

pre code {
    font-family: monospace;
}

.kgsgames.table {
    background-color: hsl(44, 67%, 59%);
    background-image: url(/go/images/goban.jpg);
    border: 1px solid hsla(0, 0%, 0%, 0.5);
    color: #333;
    float: left;
    font-family: Futura, sans-serif;
    font-size: 12px;
    margin: 0;
    -moz-border-radius: 10px;
    -moz-box-shadow: 5px 5px 0 hsla(0, 0%, 0%, 0.5);
    overflow: hidden;
    -webkit-border-radius: 10px;
}

.kgsgames.table h3 {
    font-size: 18px;
    margin: 1em;
    text-shadow: 1px 1px 1px hsla(0, 50%, 100%, 0.5);
}

.kgsgames.table table {
    border-collapse: collapse;
    margin: 0 1em;
}

.kgsgames.table a {
    color: hsla(0, 0%, 0%, 0.8);
    display: block;
    overflow: hidden;
    padding: 0.5em;
    text-decoration: none;
}

.kgsgames.table a:hover {
    background-color: hsla(50, 50%, 70%, 0.8);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.kgsgames.table a:visited {
    color: hsla(0, 0%, 0%, 0.5);
}

.kgsgames.table .date, .kgsgames.table .black, .kgsgames.table .black:before,  .kgsgames.table .white, .kgsgames.table .white:before, .kgsgames.table .vs {
}

.kgsgames.table .date {
    display: block;
    float: left;
    font-size: 10px;
    padding: .5em .5em .5em;
    text-align: right;
    text-shadow: 1px 1px 0 hsla(0, 0%, 0%, 0.5);
    text-transform: uppercase;
}

.kgsgames.table .date a {
    color: #fff;
}

.kgsgames.table .vs {
    padding: 0 .5em;
}

.kgsgames.table .black, .kgsgames.table .white {
    position: relative;
}

.kgsgames.table .black:before, .kgsgames.table .white:before {
    bottom: -5px;
    content: '•';
    font-size: 24px;
    height: 16px;
    line-height: 0;
    margin: 0;
    padding: 0;
    position: relative;
    text-shadow: 1px 1px 1px hsla(0, 0%, 0%, 0.5);
    width: 16px;
}

.kgsgames.table .black:before {
    color: #000;
}

.kgsgames.table .white:before {
    color: #fff;
}

.kgsgames.table span.winner {
}

.kgsgames.table p.archive {
    float: right;
    margin: 1em;
    text-align: right;
    text-transform: uppercase;

}
